<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add</title>
</head>

<body>
<h1 th:text="${addResult}"></h1>
<form action="add" method="post">
    id:
    <input type="text" name="id"><br>
    name:
    <input type="text" name="name"><br>
    <input type="submit" value="提交">
</form>
</body>

</html>