<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
</head>

<body>
    <a href="add" target="_blank"><input type="submit" value="添加"></a>
    <a href="findPage" target="_blank"><input type="submit" value="查找"></a>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each="city : ${list}">
            <td th:text="${city.id}"></td>
            <td th:text="${city.name}"></td>
            <td><a th:href="@{'delete/'+${city.id}}"><input type="submit" value="删除"></a></td>
        </tr>
    </table>

</body>

</html>